{% extends "../Base.twig" %}

{% block title %}Контакты{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body my-2 shadow-sm">
                <h4 class="pb-4 pt-2 border-bottom text-center">Контакты</h4>
                E-mail: info@{{ siteName }}.ru
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}