{% extends "lk/BaseLk.twig" %}

{% block title %}{{ parent() }} - найти мастера-индивидуала или салон{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block contentLk %}
    <div class="justify-content-center w-100 pl-4">
        <ul class="pl-0">
            <li class="pb-sm-4">
                <h6>Добавьте ваш запрос на услугу</h6>
                Опишите, какие услуги вы хотели бы получить от мастера -  чем подробнее описание, тем более точные цены смогут предложить бьюти мастера. Всё быстро и просто — ваш телефон нигде не публикуется.
            </li>
            <li class="pb-sm-4">
                <h6>Получите предложения с ценами за несколько минут</h6>
                За несколько минут после публикации запроса на услугу  начинают поступать первые предложения от бьюти мастеров, заинтересованных в вашем заказе. Мастера предлагают свои условия работы и задают уточняющие вопросы в чате или в отклике задания.
            </li>
            <li class="pb-sm-4">
                <h6>Оцените портфолио мастеров</h6>
                Сравнивайте не только предложения, но и профиль  мастера.
                Обратите внимание, подтверждены ли данные мастера, как  давно он зарегистрирован на сайте, изучите отзывы предыдущих заказчиков услуг, так же учтите рейтинг.
            </li>
            <li class="pb-sm-4">
                <h6>Обсудите условия в чате или по телефону</h6>
                Если вас заинтересовал какой либо отклик мастера или Салона,  нажмите на кнопку "Связаться".
                Система свяжет вас с исполнителем — в течение минуты он позвонит вам или напишет в чат.
                <br>Обсудите детали вашего запроса на услугу..
                Если договорились, не забудьте сообщить мастеру свои контакты для дальнейшего взаимодействия.
            </li>
            <li class="pb-sm-4">
                <h6>Зафиксируйте договорённости</h6>
                Если вас устроили условия предложенные исполнителем, рекомендуем  зафиксировать дату, время и другие  детали в переписке внутри сайта. Это позволит разобраться в спорной ситуации
            </li>
            <li class="pb-sm-4">
                <h6>Оставьте отзыв</h6>
                Расскажите и оцените работу мастера по пятибальной шкале.
            </li>
        </ul>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}