{% extends "lk/BaseLk.twig" %}

{% block title %}{{ parent() }} - поиск салонов{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block contentLk %}
    <div class="justify-content-center w-100 pl-3">
        Найти салон
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}