{% extends "Base.twig" %}

{% block title %}FAQ{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-flex">
            <div class="card card-body my-1 shadow-sm">
                <h1 class="pb-4 border-bottom text-center">Что нужно знать мастеру для успешной работы с сайтом</h1>
                <div class="topic-text ue-content">
                    <ul>
                        <li class="pb-sm-4">
                            <h6>Заполните свой профиль</h6>
                            Укажите ФИО.
                            <br>Прикрепите главную фотографию к профилю, это удвоит ваши шансы на получение заказа.
                            <br>Заполните подробно поле «о себе», перечислите все ваши умения и достижения, если вы работали или учились укажите года.
                            <br>Выберите общий стаж работы в сфере услуг, которые вы собираетесь предлагать.
                            <br>Просите заказчиков оставлять отзывы о вас, положительные отзывы поднимут ваш рейтинг и ваши возможности получать крупные заказы увеличатся в разы.
                            <br>Обязательно прикрепите фото ваших работ и укажите ваш номер телефона для быстрой связи с вами (номер будет скрыт, пока вы не примите заказ)
                        <li class="pb-sm-4">
                            <h6>Правила сайта</h6>
                            Прочтите правила нашего сайта (ссылка) узнайте основные правила поведения мастера на сервисе BeautyTime24.ru, чтобы не получить бан.
                        </li>
                        <li class="pb-sm-4">
                            <h6>Оплата</h6>
                            Все отклики на предложения частных клиентов, а так же компаний красоты для мастера бесплатны.
                        </li>
                        <li class="pb-sm-4">
                            <h6>Общение с заказчиком</h6>
                            После того как вы откликнитесь на предложение заказчика, он сможет написать вам в чате или позвонить вам на указанный вами номер в профиле  для уточнения деталей заказа. Обязательно попросите заказчика выбрать вас на сайте исполнителем заказа.
                        </li>
                        <li class="pb-sm-4">
                            <h6>Предложения от заказчиков</h6>
                            Для продуктивной работы на сервисе старайтесь быстрее откликаться на задания, если цена предложенная клиентом или компанией красоты вас не устроила, предложите свою цену, очень часто заказчики соглашаются на ваши условия.
                        </li>
                        <li class="pb-sm-4">
                            <h6>Подписка</h6>
                            Вы можете подписаться на задания по территориальному значению, а так же по наименованию услуг.
                        </li>
                    </ul>

                    <br><b>Кратко о главном:</b>
                    <br>1. Качественно заполните свой профиль. 
                    <br>2. Оставляйте отклики к новым заданиям. Пишите свою цену, если вы не согласны с бюджетом заказчика. 
                    <br>3. Чем выше ваш рейтинг, тем чаще вас будут выбирать исполнителем. 
                    <br>4. Будьте вежливыми и тактичными с клиентами. Не забывайте правила этикета.
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}