{% extends "Base.twig" %}

{% block title %}Правила сервиса{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-flex">
            <div class="card card-body my-1 shadow-sm">
                <h4 class="pb-4 border-bottom text-center">Правила сервиса</h4>
                <div class="topic-text ue-content">
                    <div><p><strong><br></strong></p>
                        <p>Перед тем как опубликовать или начать выполнять задания, внимательно ознакомьтесь с правилами сервиса.
                            За грубые нарушения пользователь может получить бан или лишиться статуса мастера или салона.</p>
                        <p><br></p>
                        <h4>Причины блокировки</h4>
                        <p>Список действий, за которые пользователь может быть навсегда забанен:</p>
                        <p><strong>Любые действия, нарушающие законы РФ. </strong>Мы следим, чтобы на сервисе
                            соблюдались требования законодательства России. За нарушения законов РФ пользователь будет
                            заблокирован и привлечен к ответственности. </p>
                        <p><strong>Мошенничество.</strong> По обращению в службу поддержки, связанную с материальной
                            претензией профиль пользователя блокируется и ситуация попадает в арбитраж.</p>
                        <p><strong>Искусственное воздействие на рейтинг.</strong> Накрутка отзывов приводит к блокировке
                            аккаунта без возможности восстановления.</p>
                        <p><strong>По результатам проверки паспортных данных.</strong> Пользователь блокируется, если по
                            результатам проверки паспорта подтверждается, что документ недействительный, либо его
                            владелец находится в уголовном розыске.</p>
                        <p><strong>Нарушение правил общения с сотрудниками сервиса. </strong>Мы стараемся оградить наших
                            пользователей от встречи с неадекватными и грубыми людьми при использовании {{ siteName }}. Поэтому
                            оставляем за собой право заблокировать пользователя за подобное поведение.</p>
                        <p><strong>Жалобы других пользователей.</strong> Если в службу поддержки поступают жалобы, что
                            исполнитель или заказчик нарушает правила, грубит, ведет себя неадекватно или не следует
                            договоренностям, и эта информация подтверждается, аккаунт может быть заблокирован.</p>
                        <p><br></p>
                        <h4></h4>
                        <h4>Причины лишения статуса мастера или салона</h4>
                        <p>Список действий, за которые&nbsp;пользователь может быть снят с верификации:</p>
                        <p><strong>Не выполнено первый заказ</strong>. Если мастер или салон не выполнил первый заказ и
                            получил отрицательный отзыв, он может получить предупреждение или блокировку, в зависимости
                            от конкретной ситуации.</p>
                        <p><strong>Передача задания другому мастеру без предупреждения клиента.</strong> Мастер или салон
                            может лишиться статуса, если он отозвался на заказ, но отправил выполнять вместо себя
                            другого человека (друга, сестру, соседа). Без согласования с клиентом этого делать нельзя.
                        </p>
                        <p><strong>Обмен контактными данными в обход сервиса.</strong> Если пользователь указал в
                            профиле или примерах работ телефон, адрес электронной почты или ссылки на сайты с
                            контактными данными, он может получить предупреждение или лишиться статуса исполнителя.</p>
                        <p><strong>Нарушение правил общения на сервисе.</strong> За оскорбления пользователей и
                            администрации, использование ненормативной лексики, разжигание конфликтных ситуаций, призывы
                            к нарушению законодательства РФ можно лишиться статуса исполнителя.</p>
                        <p><strong>Пять и более отрицательных отзывов.</strong> Пользователь может лишиться статуса
                            исполнителя за большое количество отрицательных отзывов и систематические жалобы на качество
                            оказываемых услуг.</p>
                        <p><strong>Отказ от выполнения задания без предупреждения клиента.</strong> Если пользователь
                            был выбран мастером заявки, но передумал его выполнять, он должен предупредить об этом
                            клиента. В противном случае при возникновении конфликта он может лишиться статуса
                            мастера.</p>
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}