{% extends "Base.twig" %}

{% block title %}Сеть бьюти мастеров{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row justify-content-center container-fluid">
        <div class="col-md-6">
            <div class="card card-body my-2 shadow-sm">
                <h4 class="pb-4 pt-2 border-bottom text-center">Место где мастера и клиенты находят друг друга</h4>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}